---
title: GNOME APIs
description: Lorem ipsum dolor sit amet
---
%section
  .container
    .row
      .col-sm-6
        %p
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse lectus. Mauris sed nulla quis nisi interdum tempor. 
          Proin diam augue, semper vitae, varius et, viverra id, felis. 
      .col-sm-6
        %p
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse lectus. Mauris sed nulla quis nisi interdum tempor. 
          Proin diam augue, semper vitae, varius et, viverra id, felis. 
