---
title: Test
description: Test
---
%header
  .header-content
    .container
    .header-content-inner
      %h1 Amazing apps, fast
      %p
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse lectus. Mauris sed nulla quis nisi interdum tempor. 
        Proin diam augue, semper vitae, varius et, viverra id, felis. 
      %a.btn.btn-primary.btn-xl.page-scroll{:href => "#get started"} Get Started
