---
title: Test
description: Test
---
%header
  .header-content
    .container
      .header-content-inner
        %h1 Amazing apps, fast
        %p
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse lectus. Mauris sed nulla quis nisi interdum tempor. 
          Proin diam augue, semper vitae, varius et, viverra id, felis. 
        %a.btn.btn-primary.btn-xl.page-scroll{:href => "#getstarted"} Get Started
    .container-fluid
      .row.toned
        .col-lg-2.col-lg-offset-2.col-xs-6.col-md-3
          %a#apiref.icon
            API Reference
        .col-lg-2.col-xs-6.col-md-3
          %a#hig.icon
            Design Guidelines
        .col-lg-2.col-xs-6.col-md-3
          %a#tutorials.icon
            Tutorials
        .col-lg-2.col-xs-6.col-md-3
          %a#flatpak.icon
            Distribute
    .container
      .header-content-inner
        %h2 Flexible components for any solution
        %p
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse lectus. Mauris sed nulla quis nisi interdum tempor. 
          Proin diam augue, semper vitae, varius et, viverra id, felis. 
        %a.btn.btn-primary.btn-xl.page-scroll{:href => "#tech"} GNOME Technologies Overview
.container
  .row
    .col-sm-5.col-sm-offset-1.box
      %h1 Get Involved in GNOME
      %p
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse lectus.  
    .col-sm-5.box
      %h1 GNOME Development Guides
      %p
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse lectus. Mauris sed nulla quis nisi interdum tempor. 
        Proin diam augue, semper vitae, varius et, viverra id, felis. 
