---
title: Test
description: Test
---
%header
  .header-content
    .container
    .header-content-inner
      %h1 Amazing apps, fast
      %hr
        %p Lorem Ipsum
        %a.btn.btn-primary.btn-xl.page-scroll{:href => "#get started"} Get Started
